:root {
    --white: #ffffff;
    --black: #000000;
    --gray-tittle: #868686;
    --gray-text: #9C9C9B;
    --border-image: #ECECEC;
    --yellow-component: #FFDE59;
    --sm: 1.4rem;
    --md: 1.8rem;
    --lg: 2.1rem;
    --xlg: 3rem;
    --bold-text: bold;
}
