@import '/src/styles/vars';

.main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15rem 0rem;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

.main-title h1 {
    font-size: var(--lg);
    color: var(--gray-tittle);
}

.logo-image {
    margin-top: 5rem;
    border-radius: 2.5rem;
    height: 50rem;
    width: 40rem;
    margin-left: 3rem;
}


.main-text {
    display: flex;
    align-items: center;
    padding-right: 10rem;
    justify-content: center;
    flex-direction: column;

    width: 70rem;
}



.main-text_paragraph p {
    font-size: var(--sm);
    color: var(--gray-text);
    font-weight: normal;
    text-align: justify;
    line-height:1;
}

.moreInformation-button {
    background-color: var(--yellow-component);
    color: var(--white);
    cursor: pointer;
    border: none;
    font-size: var(--sm);
    font-weight: var(--bold-text);
    border-radius: 3rem;
    height: 4.2rem;
    width: 20rem;
}