@import '/src/styles/vars';

.container{
    margin: 0 4rem;
}
.container-targets__target{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20rem;
    padding-left: 20rem;
    justify-content: stretch;
    width: 1rem;
}

.container-targets__target-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
}

.container-targets__target h2{
    color: var(--gray-tittle);
    text-align: justify;
    font-size: var(--md);
    padding-top: 4rem;
}

.container-targets__target p{
    color: var(--gray-text);
    font-size: var(--sm);
    padding-top: 4rem;
    text-align: justify;
}

.image-target{
    width: 22rem;
    height: 22rem;
    border-radius: 2rem;
}