:root {
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --vey-gray: #585858;
    --gray-simple: #b3b3b3;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    margin: 0 300px;
    font-family: 'League spartan', sans-serif;
    background-color: #ffffff;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px;
}

.main-content{
    display: flex;
    flex-direction: row;
    justify-content: right;

}
.main-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 5% 10%;
}

.logo-image{
    width: 400px;
    height: 500px;
    border-radius: 20px;
    border-color: #000000 1px;
}

.main-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin: 5% 10%;
}

.main-text h1 {
    font-size: 50px;
    color: var(--vey-gray);
}

.main-text p {
    font-size: 30px;
    color: var(--gray-simple);
    text-align: justify;
}

.moreInformation-button{
    margin-top: 30px;
    background-color: #FFDE59;
    color: #ffffff;
    border-radius: 30px;
    height: 45px;
    width: 200px;
}