@import '/src/styles/vars';


.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;
    width: 90%;
    margin-bottom: 5rem;
    background-color: var(--yellow-component);
}

.contact-component{
    width: 100%;
    padding: 2rem 3rem;
    margin-bottom: 4rem;
}

.contact-content{
    display: flex;
    flex-direction: row;
}

.contact-tittle h1{
    text-align: center;
    font-size: var(--lg);
    color: var(--gray-tittle);
}

.contact-content_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70rem;
}

.contact-content_info h2{
    color: var(--gray-tittle);
    font-size: var(--md);
    width: 60rem;
    padding-top: 3rem;
    text-align: center;
}

.contact-content_info p{
    color: var(--gray-text);
    padding-top: 3rem;
    text-align: justify;
    width: 60rem;
    font-size: var(--sm);
}

.contact-content_form{
    padding-top: 3rem;
}

.contact-content_form h2{
    color: var(--gray-tittle);
    font-size: var(--md);
    text-align: center;  
    padding-bottom: 2rem;  
}


.form-group{
    display: flex;
    flex-direction: column;
}

.form-group label{
    color: var(--gray-text);
    font-size: var(--sm);
    padding-bottom: 0.5rem;
}

.form-group input{
    color: var(--gray-text);
    font-size: 2.2rem;
    padding-left: 2rem;
    border: 3px solid #ccc;
    width: 45rem;
    border-radius: 1rem;
    height: 4rem;
    margin-bottom: 2rem;
}

.form-buton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control-text{
    height: 10rem;
}

#input-text{
    height: 10rem;
}