@import '/src/styles/vars';

.media{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;    
    grid-gap: 0.4rem;
    padding: 0.4rem;

}

.media-targets{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
